.back {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 5%;
}

.box {
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  width: 700px;
  height: 550px;
  justify-content: center;
  align-items: ceneter;
  border: 1px solid var(--color-light-pink);

  box-shadow: 1px 9px 16px 0px rgba(129, 129, 129, 0.57);
  -webkit-box-shadow: 1px 9px 16px 0px rgba(129, 129, 129, 0.57);
  -moz-box-shadow: 1px 9px 16px 0px rgba(129, 129, 129, 0.57);
}

.colorTheme {
  position: absolute;
  bottom: 5%;
  right: 5%;
  font-size: var(--font-medium);
  color: var(--color-pink);
  cursor: pointer;
  margin-right: 8px;
}

.colorRadio {
  position: absolute;
  bottom: 12%;
  right: 5%;
}

/* green theme */
.green {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgb(255, 255, 255) 0%,
    rgb(255, 255, 255) 100%
  );
  .box {
    border: 1px solid var(--color-light-green);
  }
  .colorTheme {
    color: var(--color-green);
  }
}

@media (max-width: 500px) {
  .box {
    flex-direction: column;
    width: 300px;
    height: 550px;
  }

  .colorTheme {
    bottom: 3%;
    right: 5%;
    margin-right: 8px;
  }

  .colorRadio {
    position: absolute;
    bottom: 8%;
    right: 5%;
  }
}
